body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 201, 71)
    padding: 0;
    margin: 0;
  }
  
  nav {
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 60px;
    background-color: #111;
    overflow: hidden;
  
    transition: width 0.3s;
  }
  nav:hover {
    width: 300px;
  }
  
  nav .bar {
    background-color: rgba(184, 163, 163, 0.534)96, 29, 29);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: end;
  }
  
  nav .user {
    color: rgb(152, 54, 54);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 180px;
    transform: translateX(-300px);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }
  nav:hover .user {
    transform: translateX(0);
    opacity: 1;
  }
  
  nav .user img {
    width: 100px;
    margin: 0 auto;
    border-radius: 50%;
  }
  
  nav .links {
  }
  
  nav .links a {
    color: rgb(131, 119, 119);
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 400px;
    overflow: hidden;
  }
  nav .links a:hover {
    background-color: rgb(31, 135, 205);
    color: white;
  }
  
  nav .links a .icon {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 